@{
    ViewBag.Title = "Profile";
}

<center><h2>@ViewBag.Title</h2></center>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container">
   @* <div class="row">
        <div class="col-md-12">
            <div class="padded-top-small">
                <strong>
                    <span>Your Name</span>
                </strong>
                    @Html.TextBox("NameBox",ViewData["Name"].ToString());
            </div>
            <div class="padded-top-small">
                <strong>
                    <span>School</span>
                </strong>
               @Html.TextBox("SchoolBox", ViewData["School"].ToString());
            </div>
            <div class="padded-top-small">
                <strong>
                    <span>Your School Email</span>
                </strong>
               @Html.TextBox("EmailBox", ViewData["Email"].ToString());
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="padded-top-small">
            <div class="col-md-4">
                <div class="padded-top-small">
                    <div class="text-align-right">
                        <strong>
                            <span>Your Name</span>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                @Html.TextBox("NameBox", ViewData["Name"].ToString(), new { @class = "textbox-width", disabled = "disabled" })
            </div>
        </div>
        </div>
    <div class="row">
        <div class="padded-top-small">
            <div class="col-md-4">
                <div class="text-align-right">
                    <strong>
                        <span>School</span>
                    </strong>
                </div>
            </div>
            <div class="col-md-8">
                @Html.TextBox("SchoolBox", ViewData["School"].ToString(), new { @class = "textbox-width", disabled = "disabled"})
            </div>
        </div>
    </div>
    <div class="row ">
            <div class="padded-top-small">
                <div class="col-md-4">
                    <div class="text-align-right">
                        <strong>
                            <span>Your school email</span>
                        </strong>
                    </div>
                </div>
                <div class="col-md-8">
                    @Html.TextBox("EmailBox", ViewData["Email"].ToString(), new { @class = "textbox-width", disabled = "disabled" })
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <a href="~/Views/Manage/ChangePassword.cshtml">
                <img src="~/images/changepassword.png" class="change-password" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <a href="/Account/AdditionalUser">
                <img src="~/images/adduser.png" class="add-user"/>
            </a>
        </div>
    </div>

</div>


