@using Graphics4Teachers.Models
@model Account
@{
    ViewBag.Title = "Add Additional Users";
}
<center>
    <h2><strong>Additional Users</strong></h2>
    @Html.ValidationSummary()
</center>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="padded-left">
                @using (Html.BeginForm("AdditionalUserOne", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <p>New user #1 email adress</p>
                        @Html.TextBoxFor(m => m.emailOne, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.emailOne, "", new { @class = "text-danger" })
                        <p>Confirm new user #1 email address</p>
                        @Html.TextBoxFor(m => m.emailOne, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.emailOne, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="image" class="add-user-button" src="~/images/addbutton.png" />
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="vertical-rule">
                @using (Html.BeginForm("AdditionalUserTwo", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <p>New user #2 email adress</p>
                        @Html.TextBoxFor(m => m.emailTwo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.emailTwo, "", new { @class = "text-danger" })
                        <p>Confirm new user #2 email address</p>
                        @Html.TextBoxFor(m => m.emailTwo, new { @class = "form-control" })
                        @*Html.ValidationMessageFor(m => m.emailTwo, "", new { @class = "text-danger" })*@
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="you still no add the name !" Display="None" ControlToValidate="txtName"></asp:RequiredFieldValidator>
                    </div>
                    <div class="form-group">
                        <input type="image" class="add-user-button" src="~/images/addbutton.png" />
                    </div>
                }
            </div>
        </div>
    </div>
    <row>
        <div class="col-md-6 col-md-offset-3">
            <div class="padded-top">
                <center><p>These new users will each be emailed a log in code. If the email does not appear to arrive please advise them to check in junk mail</p></center>
            </div>
        </div>
    </row>
</div>
