<!DOCTYPE html>
<html>
<head>
    @using Microsoft.AspNet.Identity
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>@ViewBag.Title - Graphics4Teachers</title>

    <style type="text/css">
        .bgimg {
            background-image: url('../images/divbg.png');
        }
    </style>
</head>
<body>
    <img src="~/images/mouse.png" class="mouse img-responsive" />
    <img src="~/images/rubber.png" class="rubber img-responsive" />
    @{ Html.RenderPartial("_LoginPartial", new GraphicsSite.Models.LoginViewModel());  }

    <a href="@Url.Action("Index", "Home")">
        <img src="~/images/home.png" class="home" />
    </a>


    <div class="navbar navbar-inverse navbar-fixed-bottom">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Site Map", "Index", "Home")</li>
                    <li>@Html.ActionLink("Terms", "Terms", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Profile", "Index", "Manage")</li>
                    }
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
