@model GraphicsSite.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<center><h2>@ViewBag.Title</h2></center>

<div class="container">
    <div class="row">
        <div class="padded-top-small">
            <div class="col-md-4">
                <div class="padded-top-small">
                    <div class="text-align-right">
                        <strong>
                            <span>Your Name</span>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                @Html.TextBox("NameBox", ViewData["Name"].ToString(), new { @class = "textbox-width", disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="padded-top-small">
            <div class="col-md-4">
                <div class="text-align-right">
                    <strong>
                        <span>School</span>
                    </strong>
                </div>
            </div>
            <div class="col-md-8">
                @Html.TextBox("SchoolBox", ViewData["School"].ToString(), new { @class = "textbox-width", disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="padded-top-small">
            <div class="col-md-4">
                <div class="text-align-right">
                    <strong>
                        <span>Your school email</span>
                    </strong>
                </div>
            </div>
            <div class="col-md-8">
                @Html.TextBox("EmailBox", ViewData["Email"].ToString(), new { @class = "textbox-width", disabled = "disabled" })
            </div>
        </div>
    </div>
    <hr style="width:60%; color:black;" />
</div>

<div class="container  index-changer">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="padded-top-small">
                <div class="col-md-4">
                    <div class="padded-top-small">
                        <div class="text-align-right">
                            <strong>
                                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label text-align-right" })
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control  textbox-width" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="padded-top-small">
                <div class="col-md-4">
                    <div class="padded-top-small">
                        <div class="text-align-right">
                            <strong>
                                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label text-align-right" })
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control  textbox-width" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="padded-top-small">
                <div class="col-md-4">
                    <div class="padded-top-small">
                        <div class="text-align-right">
                            <strong>
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label text-align-right" })
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control  textbox-width" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">

                <input type="image" class="change-password-button" src="~/images/changepassword.png" />

            </div>
        </div>
    }
</div>

@*@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label text-align-right" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control  textbox-width" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>
    }*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
